@model StudentProfile.DAL.Models.VM.ChangePasswordViewModel
@{
    ViewBag.Title = "ChangePassword";
    Layout =null;
}

<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>تغيير كلمة المررو</title>
    @{
        Layout = null;
        ViewBag.Title = "تغيير كلمة المرور";
    }
    <link href="~/assets/images/IU_ALL_COLOR_RGB.png" rel="icon" />
    <!-- Bootstrap -->
    <link href="~/assets/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="~/assets/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="~/assets/vendors/nprogress/nprogress.css" rel="stylesheet">
    <!-- Animate.css -->
    <link href="~/assets/vendors/animate.css/animate.min.css" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link href="~/assets/build/css/custom.min.css" rel="stylesheet">    <!-- Custom Theme Style -->
    <link href="~/assets/css/login.css" rel="stylesheet">
    <script src="~/Scripts/jquery-2.2.3.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    

    <script src="https://www.google.com/recaptcha/api.js" async defer></script>

    <script type="text/javascript">
      var onloadCallback = function() {
        grecaptcha.render('captchaDiv', {
            'sitekey': '6LfQq5QUAAAAAPBYnwcdsImYEpKTPlU-ByEz9C97'
        });
      };
    </script>
    <style>
        .validation-summary-errors ul {
            list-style: none;
            padding: 0;
            margin: 0;
        }
    </style>

</head>

<body class="login">

    <div class="login_wrapper" id="LoginDiv">
        <div class="animate form login_form">
            <section class="login_content">
                <input type="hidden" value="@ViewBag.Authorized" id="Auth" />

                @using (Html.BeginForm("ChangePassword", "Login"))
            {



                    <div>
                        <h1> Islamic University of Madinah DashBoard!</h1>
                    </div>
                    <h1>تغيير كلمة المرور </h1>
                    <div class="input-ds">
                        @Html.AntiForgeryToken()
                        @Html.TextBoxFor(modelitem => modelitem.OldPassword, null, new { @class = "form-control", placeholder = "كلمة المرور القديمة ", type = "password", autocomplete = "off" })
                        <p class="error">@Html.ValidationMessageFor(modelitem => modelitem.OldPassword)</p>
                    </div>
                    <div class="input-ds">
                        @Html.TextBoxFor(modelitem => modelitem.NewPassword, null, new { @class = "form-control", placeholder = "كلمة المرور", type = "password", autocomplete = "off" })
                        <p class="error">@Html.ValidationMessageFor(modelitem => modelitem.NewPassword)</p>
                    </div>
                    <div class="input-ds">
                        @Html.TextBoxFor(modelitem => modelitem.NewPasswordConfirm, null, new { @class = "form-control", placeholder = "كلمة المرور", type = "password", autocomplete = "off" })
                        <p class="error">@Html.ValidationMessageFor(modelitem => modelitem.NewPasswordConfirm)</p>
                    </div>
                    <div>
                        <button class="btn btn-default submit" type="submit">حفظ</button>

                    </div>
                    <div class="clearfix"></div>

                        <div class="separator">
                            <p class="change_link">

                                <div>
                                    @Html.ValidationSummary(true)
                                </div>
                            </p>

                            <div class="clearfix"></div>
                            <br />

                            <div>
                                <p>  جميع الحقوق محفوظة للجامعة الاسلامية بالمدينة المنورة</p>
                            </div>
                        </div>
                }


            </section>
        </div>
    </div>

    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
</body>
</html>



